body{
    text-align: center;
    background: linear-gradient(#07f527 0%,#f50707 100% );
    color: white;
}


.submit3{
    color: white;
    background-color:green;
    
    
    
    
}